#side-bar{
    padding:10px;
}
.side-bar-content{
    border: 2px solid black;
    padding: 10px;
}
.pizza-base-dropdown{
    padding: 10px;
}
.pizza-type-dropdown{
    padding: 10px;
}
.toggle-class{
    padding: 10px;
}
.price-range{
    padding: 10px;
}